
@Model Doctor

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<DoctorInformation> getInfo = ViewBag.info;
}

<div class="row gutters-sm">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                        <h4>@Model.FirstName @Model.LastName</h4>
                        <p class="text-secondary mb-1">@ViewBag.SpecialistIn</p>
                        <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>

                        @if (Model.Status == 1)
                        {
                            <button type="button" class="btn btn-outline-success ">Active</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-outline-danger ">Deactive</button>
                        }

                        <button class="btn btn-outline-primary">Message</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.FirstName @Model.LastName
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Email
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.mobile
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Doctor Card Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @ViewBag.officeAddress
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-info " asp-action="Edit" asp-route-id="@Model.doctorID">Edit</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gutters-sm">
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">

                        <h6 class="d-flex align-items-center mb-3 justify-content-between">
                            <i class="material-icons text-info mr-2">Personal Imformation</i>
                            @if (ViewBag.infocount == 0)
                            {
                                <button type="button" class="btn btn-primary btn-style " data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                    set information
                                </button>

                            }
                            else
                            {

                                <a class="btn btn-outline-info " asp-action="EditInformation" asp-route-id="@Model.doctorID">Edit</a>

                            }


                        </h6>
                        <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-action="DoctorInformation">
                                        <div class="modal-body">
                                            <!-- forms 2 -->
                                            <div class="card card_border py-2 mb-4">
                                                <div class="card-body">

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="SpecialistIn" class="input__label">SpecialistIn</label>
                                                            <select id="SpecialistIn" class="form-control input-style" name="SpecialistIn">
                                                                <option selected>Choose...</option>
                                                                <option value="dentis">dentis </option>
                                                                <option value="Anesthesiology">Anesthesiology </option>
                                                                <option value="Surgery">Surgery</option>
                                                                <option value="Diagnostic Radiology">Diagnostic radiology</option>
                                                                <option value="Nuclear medicine">Nuclear medicine</option>
                                                                <option value="Neurology">Neurology</option>
                                                                <option value="Ophthalmology">Ophthalmology</option>
                                                                <option value="Urology">Urology</option>
                                                                <option value="Psychiatry">Psychiatry</option>
                                                                <option value="Allergy and immunology">Allergy and immunology</option>
                                                                <option value="Emergency medicine">Emergency medicine</option>
                                                                <option value="Medical genetics">Medical genetics</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="Experiance" class="input__label">Experiance</label>
                                                            <input type="text" name="Experiance" class="form-control input-style" id="Experiance"
                                                                   placeholder="Experiance">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="About" class="form-label">About</label>
                                                        <textarea class="form-control" id="About" name="About" rows="3"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Hospital" class="input__label">Hospital</label>
                                                        <input type="text" class="form-control input-style" id="Hospital" name="Hospital"
                                                               placeholder="Hospital Name">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="OfficeAddress" class="input__label">OfficeAddress</label>
                                                        <input type="text" class="form-control input-style" id="OfficeAddress" name="OfficeAddress"
                                                               placeholder="1234 Main St">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="MailingAddress" class="input__label">MailingAddress</label>
                                                        <input type="text" class="form-control input-style" id="MailingAddress" name="MailingAddress"
                                                               placeholder="Apartment, studio, or floor">
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Country" class="input__label">Country</label>
                                                            <input type="text" class="form-control input-style" id="Country" name="Country">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="State" class="input__label">State</label>
                                                            <input type="text" class="form-control input-style" id="State" name="State">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="City" class="input__label">City</label>
                                                            <input type="text" class="form-control input-style" id="City" name="City">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Area" class="input__label">Area</label>
                                                            <input type="text" class="form-control input-style" id="Area" name="Area">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="dateofbirth" class="input__label">Birth Date</label>
                                                            <input type="Date" name="dateofbirth" id="dateofbirth" class="form-control input-style">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Gender" class="input__label">Gender</label>
                                                            <select id="Gender" name="Gender" class="form-control input-style">
                                                                <option selected>Choose...</option>
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="Nid" class="input__label">NID</label>
                                                            <input type="text" name="Nid" class="form-control input-style" id="Nid">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="Nationality" class="input__label">Nationality</label>
                                                            <input type="text" name="Nationality" class="form-control input-style" id="Nationality">
                                                        </div>
                                                    </div>
                                                    <input type="text" value="@Model.doctorID" name="doctorID" id="doctorID">

                                                </div>
                                            </div>
                                            <!-- //forms 2 -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <div class="form-group">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Modal End-->
                        <!-- Modal -->
                        <div class="modal fade" id="EditInfoModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-action="DoctorInformation">
                                        <div class="modal-body">
                                            <!-- forms 2 -->
                                            <div class="card card_border py-2 mb-4">
                                                <div class="card-body">

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="SpecialistIn" class="input__label">SpecialistIn</label>
                                                            <select id="SpecialistIn" class="form-control input-style" name="SpecialistIn">
                                                                <option value="@ViewBag.SpecialistIn">@ViewBag.SpecialistIn</option>
                                                                <option value="dentis">dentis </option>
                                                                <option value="Anesthesiology">Anesthesiology </option>
                                                                <option value="Surgery">Surgery</option>
                                                                <option value="Diagnostic Radiology">Diagnostic radiology</option>
                                                                <option value="Nuclear medicine">Nuclear medicine</option>
                                                                <option value="Neurology">Neurology</option>
                                                                <option value="Ophthalmology">Ophthalmology</option>
                                                                <option value="Urology">Urology</option>
                                                                <option value="Psychiatry">Psychiatry</option>
                                                                <option value="Allergy and immunology">Allergy and immunology</option>
                                                                <option value="Emergency medicine">Emergency medicine</option>
                                                                <option value="Medical genetics">Medical genetics</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="Experiance" class="input__label">Experiance</label>
                                                            <input type="text" name="Experiance" class="form-control input-style" id="Experiance"
                                                                   value="@ViewBag.Experiance">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="About" class="form-label">About</label>
                                                        <textarea class="form-control" id="About" name="About" rows="3">@ViewBag.About</textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Hospital" class="input__label">Hospital</label>
                                                        <input type="text" class="form-control input-style" id="Hospital" name="Hospital"
                                                               value="@ViewBag.Hospital">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="OfficeAddress" class="input__label">OfficeAddress</label>
                                                        <input type="text" class="form-control input-style" id="OfficeAddress" name="OfficeAddress"
                                                               value="@ViewBag.officeAddress">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="MailingAddress" class="input__label">MailingAddress</label>
                                                        <input type="text" class="form-control input-style" id="MailingAddress" name="MailingAddress"
                                                               value="@ViewBag.MailingAddress">
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Country" class="input__label">Country</label>
                                                            <input type="text" class="form-control input-style" id="Country" name="Country" value="@ViewBag.Country">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="State" class="input__label">State</label>
                                                            <input type="text" class="form-control input-style" id="State" name="State" value="@ViewBag.State">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="City" class="input__label">City</label>
                                                            <input type="text" class="form-control input-style" id="City" name="City" value="@ViewBag.City">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Area" class="input__label">Area</label>
                                                            <input type="text" class="form-control input-style" id="Area" name="Area" value="@ViewBag.Area">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="dateofbirth" class="input__label">Birth Date</label>
                                                            <input type="Date" name="dateofbirth" id="dateofbirth" class="form-control input-style" value="@ViewBag.dateofbirth">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Gender" class="input__label">Gender</label>
                                                            <select id="Gender" name="Gender" class="form-control input-style">
                                                                <option value="@ViewBag.Gender">@ViewBag.Gender</option>
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="Nid" class="input__label">NID</label>
                                                            <input type="text" name="Nid" class="form-control input-style" id="Nid" value="@ViewBag.Nid">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="Nationality" class="input__label">Nationality</label>
                                                            <input type="text" name="Nationality" class="form-control input-style" id="Nationality" value="@ViewBag.Nationality">
                                                        </div>
                                                    </div>
                                                    <input type="text" value="@Model.doctorID" name="doctorID" id="doctorID" hidden>

                                                </div>
                                            </div>
                                            <!-- //forms 2 -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <div class="form-group">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Modal End-->



                        @if (ViewBag.infocount > 0)
                        {
                            <!--Show Information-->
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Experiance</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.Experiance Years
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">About</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.About
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Hospital</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.Hospital
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">officeAddress</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.officeAddress
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">MailingAddress</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.MailingAddress
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Country</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.Country
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">State</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.State
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">City</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.City
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Area</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.Area
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">DateofBirth</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.DateofBirth
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Gender</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.Gender
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nid</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.Nid
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nationality</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.Nationality
                                </div>
                            </div>

                        }
                        else
                        {

                        }

                    </div>
                </div>
            </div>
            <!--Schedule Section -->
            <div class="col-sm-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3 justify-content-between">
                            <i class="material-icons text-info mr-2">Schedule</i>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-style" data-toggle="modal"
                                    data-target="#exampleModal">
                                Set Schedule
                            </button>
                        </h6>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Manage Schedule</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-action="CreateSchedule">
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <label for="SetDay" class="input__label">Day</label>
                                                <select id="SetDay" class="form-control input-style" name="SetDay">
                                                    <option selected>Choose...</option>
                                                    <option value="1">Friday</option>
                                                    <option value="2">Saturday</option>
                                                    <option value="3">Sunday</option>
                                                    <option value="4">Monday</option>
                                                    <option value="5">Tuesday</option>
                                                    <option value="6">Wednesday</option>
                                                    <option value="7">Thursday</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="time" id="SetTime" name="SetTime" class="form-control input-style">
                                            </div>
                                            <input type="text" value="@Model.doctorID" name="doctorID" id="doctorID" hidden>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <div class="form-group">
                                                <input type="submit" value="Submit" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- Modal End-->

                        <div class="container mt-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <!--Table-->
                                    <table class="table table-hover">
                                        <!--Table head-->
                                        <thead class="mdb-color darken-3">
                                            <tr class="text-black-50">
                                                <th>#</th>
                                                <th>Day</th>
                                                <th>Times</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <!--Table head-->
                                        <!--Table body-->
                                        @{ int num = 0;
                                        }
                                        @if (ViewData["Schdule"] == null)
                                        {

                                        }
                                        else
                                        {
                                            <tbody>
                                                @foreach (var std in ViewData["Schdule"] as IList<Schedule>)
                                                {
                                                    num = num + 1;
                                                    <tr>
                                                        <th scope="row">@num</th>
                                                        <td>@std.SetDay</td>
                                                        <td>@std.SetTime</td>
                                                        <td>
                                                            @Html.ActionLink("Edit", "Edit", "Schedule", new { id = @std.ScheduleID }, new { }) |
                                                            @Html.ActionLink("Delete", "Delete", "Schedule", new { id = @std.ScheduleID }, new { })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        }

                                        <!--Table body-->
                                    </table>
                                    <!--Table-->
                                </div>
                            </div>

                        </div>
                        <!--MDB Tables-->

                    </div>
                </div>
            </div><!--Schedule Section End-->

        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Appointment Id</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        @if (ViewData["listAppointment"] == null)
                        {

                        }
                        else
                        {
                    <tbody>
                        @foreach (var apn in ViewData["listAppointment"] as IList<Appointment>)
                        {
                        <tr>
                            <th scope="row">1</th>
                            <td>@apn.PatienID</td>
                            <td>@apn.appointID</td>
                            <td>@apn.AppoinmentDate</td>
                            <td>@apn.TimeSlot</td>
                            <td>
                                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        }
                        </tbody>
                        }

                    </table>
                </div>
            </div>
        </div>


        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.doctorID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
